body {
    background-color: rgb(221, 240, 255);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.blur-background-dark {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
}

.blur-background-transparent {
    background-color: transparent;
    backdrop-filter: blur(20px);
}

.img-form-style {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 5px;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
 }